/* src/assets/fonts/fonts.css */

@font-face {
    font-family: 'MyFont';
    src: url('./fonts/MuseoSans-100.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'MyFont';
    src: url('./fonts/MuseoSans-300.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MyFont';
    src: url('./fonts/MuseoSans_500.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

* {

    font-family: 'MyFont', sans-serif;

}